@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,600;1,700&family=Roboto+Condensed:ital@1&family=Ubuntu:wght@500&display=swap');
html, body {
    margin: 0;
    padding :0;
 
    
    
   }
:root{
    --primary-color:#4695D6;
    --secondary-color:white;
}
.footer-content{
  margin-left:50%;
    margin-right:50%;
    margin:auto;
    margin-top:0.2rem;
    margin-bottom:0.2rem;
}
body{ 
    background-image: url('./img.jpg');
/* background-repeat: no-repeat; 
width:100vw;
height:100vh; */
background-size: cover;
background-repeat: no-repeat;
background-position:center;

}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
/* */
}
textarea {
    text-align : center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height : 150px;
    width: 500px;

    background-color: var(--secondary-color);
    border: 2px solid black;
    font-family: 'Kalam', cursive;
    font-size: 25px;


   
  }
  #text2{
    overflow-y: scroll;
    height: 100px;
    overflow: scroll; 
    
  }
#select-me{
   
/* text-align: center;/ */

margin: 1rem 0rem;
padding: 1rem 2rem;
font-family: 'Kalam', cursive;
font-size: large;


}
#header{
   color:var(--secondary-color);
   background-color:var(--primary-color);
   /* background-color :  #FCEDDA; */
width : 100%;
height : 100px;
   padding:0;
   display: block;
   margin:0;
  
   
}
.content{
    color: white;
    text-align : center;
    padding-top:2rem;
    font-size:30px;

}

footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:var(--secondary-color);
    background-color:var(--primary-color);
    /* margin-left:50%;
    margin-right:50%;
    margin:auto; */
   
  
} 
.left{
  position: fixed;
top: 50%;
left: 10%;
/* bring your own prefixes */
/* transform: translate(-50%, -50%); */
}
